body{
    background-color: lightgrey;
}
.h1{
    background-color: limegreen;
    height: 200px;
    width: 250px;
    /*cambiamos la propiedad para que sea elemento de linea*/
    display: inline;
}
.p{
    background-color: aqua;
    width: 250px;
    height: 200px;
    display: inline;
}
span{
    background-color: tomato;
    height: 200px;
    width: 250px;
    display: block;
}